* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('backgym.webp'); /* Your background image */
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
}

.join-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Blurry effect */
}

.join-form {
    background: rgba(255, 255, 255, 0.1); /* Transparent white */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    backdrop-filter: blur(10px);
}

h2 {
    text-align: center;
    color: #252525;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #272626;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.205); /* Make it more transparent */
    backdrop-filter: blur(5px); /* Add blurry effect */
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #515351;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f14b45;
}
